@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   April Bedgood
   Date:     11-20-2023
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif, Calisto;
	background-color: 	Black;
}

#container {
    width: 1000px;
    margin:auto;
    background-color:Black;
}

header {
    width:1000px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: left;
	background-color: 		#C0C0C0;
}

nav {
	height: 250px;
    width: 200px;
    margin: 25px 5px 0px 5px; 
    padding: 25px 10px 0 10px;
    float: right;
    text-align: right;
	font-size: 1.5em;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: Black;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: #40E0D0;
    color: white;
}
#profile {
    width: 446px;
    padding: 10px;
	float: left;
	background-color: White;
 
}

#profile p {
	color: Black;
	text-align: center;
	margin: 5px 5px 5px 5px;
}

h1{
	font-family: Arial;
	font-size: 2em;
	color:#40E0D0;
	text-align: center;
	margin: 30px 0px 5px 0px;
}
h2{
	font-family: Arial;
	font-size: 2em;
	color:#40E0D0;
	text-align: center;
	margin: 30px 0px 10px 0px;
}
h3{
	font-family: Arial;
	font-size: 2em;
	color:#40E0D0;
	text-align: center;
	margin: 30px 0px 10px 0px;
}
#videos/pictures {
	float: center;
}
figure img{
    padding-top: 10px;
	margin-left: 25px;
	float: left;
	float: up -500px
}

figcaption {
    font-style: italic;
	color:#40E0D0;
	text-align: center;
	font-size: 1em;
}
video {
	height: 320px;
	width: 250px;
	border-radius:	75%;
	border-width: 50px;
	border-color: #DAA520;
	position: left;
	overflow: hidden;
    padding-top: 10px;
	float: right;
}

footer {
    width: 980px;
    margin: 0;
    padding: 10px;
    background-color: #DAA520;
    clear: both;
    color: black;
    font-weight: bold;
    text-align:center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	overflow: hidden;
}

/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: navy;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
