@charset "utf-8";

#mission {
    float: right;
	margin: 75px 0px 0px 25px;

}

#vission {
    float: right;
	margin-top: 10px;
}

figure{
    padding-top: 10px;
    text-align: center;
	float: center;
}

figcaption {
    font-style: italic;
	color:#40E0D0;
}

h1{
	font-family: Arial;
	font-size: 2em;
	color:#40E0D0;
	text-align: center;
}

aside {
	height: 450px;
    width: 300px;
    margin:0px 0px 0px 0px;
    padding: 10px;
    float: left;
	background-color: White;
}

aside p {
    font-style: italic;
    font-size:1em;
	text-align: center;
	color:Black;
}