@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   April Bedgood
   Date:     11-20-2023
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif, Calisto;
	background-color: 	Black;
}

#container {
    width: 1000px;
    margin:auto;
    background-color:Black;
}

header {
    width:1000px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: left;
	background-color: 		#C0C0C0;
}

nav {
	height: 250px;
    width: 200px;
    margin: 25px 5px 0px 5px; 
    padding: 25px 10px 0 10px;
    float: right;
    text-align: right;
	font-size: 1.5em;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: Black;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: #40E0D0;
    color: white;
}

#mission {
    float: right;
	margin: 75px 0px 0px 25px;

}

#vission {
    float: right;
	margin-top: 10px;
}

figure{
    padding-top: 10px;
    text-align: center;
	float: center;
}

figcaption {
    font-style: italic;
	color:#40E0D0;
}

h1{
	font-family: Arial;
	font-size: 2em;
	color:#40E0D0;
	text-align: center;
}

aside {
	height: 450px;
    width: 300px;
    margin:0px 0px 0px 0px;
    padding: 10px;
    float: left;
	background-color: White;
}

aside p {
    font-style: italic;
    font-size:1em;
	text-align: center;
	color:Black;
}

footer {
    width: 980px;
    margin: 0;
    padding: 10px;
    background-color: #DAA520;
    clear: both;
    color: black;
    font-weight: bold;
    text-align:center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	overflow: hidden;
}

/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: navy;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
